<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
</head>
<body>
	<form action="createAccount" method="post">
		<span>Enter your name :</span>
		<input type="text" name="name" required><br>
		<span>Enter your password :</span>
		<input type="password" name="password" required><br>
		<span>Enter your Age :</span>
		<input type="number" name="age" required><br>
		<span>Enter your Country :</span>
		<input type="text" name="country" required><br>
		<span>Gender :</span> <span>Male</span>
		<input type="radio" name="gender" value="Male" checked>
		<span>Female</span>
		<input type="radio" name="gender" value="Female"><br>
		<input type="submit" value="Sign up">
	</form>
</body>
</html>