<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>home</title>
</head>
<body>
	<div>
	<span><a href="/">Home Page</a></span>
	<span>---------------------</span>
	<span><a href="/MyPage">Your Page</a></span>
	</div>
	<div th:each="x : ${account}">
		<form action="addFriend">
				<span th:text="${x.name}"></span>
				<input th:value="${x.name}" name="name" type="hidden">
				<input  type="submit" value="Add AFriend">
					
		</form>
	</div>
	<div th:each="x : ${po}">
	<form action="likePost">
				<span th:text="${x.name}"></span>
				<span>------</span>
				<span th:text="${x.time}"></span>
				<span>------</span>
				<span th:text="${x.day}"></span>
				<h2 th:text="${x.post}"></h2>
				<span th:text="${x.likes}"></span>
				<input type="hidden" th:value="${x.postid}" name="postid">
				<input type="submit" value="Like"><hr>
			</form>
	</div>
</body>
</html>