<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
</head>
<body>
	<h2>Welcome</h2>
	<form action="login" method="post">
		<span>Name :</span>
		<input type="text" name="name"><br>
		<span>Password</span>
		<input type="password" name="password"><br>
		<input type="submit" value="Login">
		<br><br>
	</form>
	<form action="sendToCreatePage" method="post">
		<input type="submit" value="Creat New Account">
	</form>
	<div th:each="x : ${po}">
				<span th:text="${x.postId}"></span>
				<p th:text="${x.owner}"></p>
				<p th:text="${x.post}"></p>
				<p th:text="${x.likes}"></p><br><hr>
			</div>
</body>
</html>