<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
</head>
<body>
	<h2>Welcome</h2>
	<form action="login" method="post">
		<span>Name :</span>
		<input type="text" name="name"><br>
		<span>Password</span>
		<input type="text" name="password"><br>
		<input type="submit" value="Login">
		<br><br>
	</form>
	<table>
		<thead>
			<tr>
				<th>PersonId</th>
				<th>Name</th>
				<th>Password</th>
				<th>Age</th>
				<th>Country</th>
				<th>Gender</th>
				<th>Friends</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="x : ${acc}">
				<th th:text="${x.personId}"></th>
				<th th:text="${x.name}"></th>
				<th th:text="${x.password}"></th>
				<th th:text="${x.age}"></th>
				<th th:text="${x.country}"></th>
				<th th:text="${x.gender}"></th>
				<th th:text="${x.friends}"></th>
			</tr>
		</tbody>
	</table>
	<br><br><br>
	<div th:each="x : ${po}">
				<span th:text="${x.postId}"></span>
				<p th:text="${x.owner}"></p>
				<p th:text="${x.post}"></p>
				<p th:text="${x.likes}"></p><br><hr>
			</div>
</body>
</html>