<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
</head>
<body>
	<h2>Welcome</h2>
	<form action="login" method="post">
		<span>Name :</span>
		<input type="text" name="name"><br>
		<span>Password</span>
		<input type="password" name="password"><br>
		<input type="submit" value="Login">
		<br><br>
	</form>
	<form action="sendToCreatePage" method="post">
		<input type="submit" value="Creat New Account">
	</form>
	<div th:each="x : ${po}">
				<span th:text="${x.name}"></span>
				<span>------</span>
				<span th:text="${x.time}"></span>
				<span>------</span>
				<span th:text="${x.day}"></span>
				<h2 th:text="${x.post}"></h2>
				<p th:text="${x.likes}"></p><hr>
			</div>
</body>
</html>